<head>
    <title>portofolio</title>
    <link rel="stylesheet" href="style.css">
    <script src="main.js" type="module" defer></script>
</head>
<body>
    <div class="landing">
        <div class="left">
            <div class="left-1">
                Irakoze Kelly<span class="dot">.</span>
            </div>
            <div class="left-body">
                <div class="left-2">
                    I'm Irakoze K.
                </div>
                <div class="left-3">
                    WEB DESIGNER / UI DESIGNER / GRAPHIC DESIGNER
                </div>
                <div class='left-4'> 
                    Lorem ipsum dolor sit amet consectetur.
                    Risus aliquam semper tortor sed augue ut sapien eget.
                    Donec viverra tempus eget fames amet quam malesuada.
                </div>
                <div>
                    <button class="button-1">explore my work</button>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="right-top">
                <div class="right-1"><span class="about">About</span></div>
                <div class="right-2">Blog</div>
                <div class="right-3">Portofolio</div>
                <div class="right-4">Skills</div>
                <div class="right-5"><a class="link" href="/login">Login</a></div>
                <div class="right-6">Contact</div>
            </div>
            <img class="image-1" src="image/short profile-modified.jpeg">
            
                
               
        </div>
    </div>

    <div class line-cont>
        <hr class="line3">
    </div>
    
    
    
    <!-- <hr class="line"> -->
    
    
    <div class="work-page">
        <div class="work-1">
            <div class="title-work">My Blog</div>
            <div class="body-work">Lorem ipsum dolor sit amet consectetur.
                Risus aliquam semper tortor sed augue ut sapien eget. 
                Donec viverra tempus eget fames amet quam malesuada.
            </div>
        </div>
        <div class="work-container">
            <div class="work-2">
                <div><img class="image2" src="image/youreal.png"></div>
                <div class="work-2-2">
                    <div class='work-2-2-1'>
                        Service title
                    </div>
                    <div class='work-2-2-2'>
                        <div class="work-text">Hardware Developer </div>
                        <div class="work-text">Lorem ipsum dolor sit amet consectetur.
                            Risus aliquam semper tortor sed augue
                        </div>
                    </div>
                </div>
            </div>
            <div class="work-3">
                <div><img class="image2" src="image/youreal.png"></div>
                <div class='work-3-2'>
                    <div class='work-3-2-1'>
                        Service title
                    </div>
                    <div class='work-3-2-2'>
                        <div class="work-text">Network-techinisian </div>
                        <div class="work-text">Lorem ipsum dolor sit amet consectetur.
                            Risus aliquam semper tortor sed augue
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="work-container">
            <div class="work-2">
                <div><img class="image2" src="image/youreal.png"></div>
                <div class="work-2-2">
                    <div class='work-2-2-1'>
                        Service title
                    </div>
                    <div class='work-2-2-2'>
                        <div class="work-text">code debbuger </div>
                        <div class="work-text">Lorem ipsum dolor sit amet consectetur.
                            Risus aliquam semper tortor sed augue
                        </div>
                    </div>
                </div>
            </div>
            <div class="work-3">
                <div><img class="image2" src="image/youreal.png"></div>
                <div class="work-3-2">
                    <div class='work-3-2-1'>
                        Service title
                    </div>
                    <div class='work-3-2-2'>
                        <div class="work-text">programmer </div>
                        <div class="work-text">Lorem ipsum dolor sit amet consectetur.
                            Risus aliquam semper tortor sed augue
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="work-container">
            <div class="work-2">
                <div><img class="image2" src="image/youreal.png"></div>
                <div class="work-2-2">
                    <div class='work-2-2-1'>
                        Service title
                    </div>
                    <div class='work-2-2-2'>
                        <div class="work-text">kernel developer </div>
                        <div class="work-text">Lorem ipsum dolor sit amet consectetur.
                            Risus aliquam semper tortor sed augue
                        </div>
                    </div>
                </div>
            </div>
            <div class="work-3">
                <div><img class="image2" src="image/youreal.png"></div>
                <div class='work-3-2'>
                    <div class='work-3-2-1'>
                        Service title
                    </div>
                    <div work-3-2-2>
                        <div class="work-text">Algorithm designer </div>
                        <div class="work-text">Lorem ipsum dolor sit amet consectetur.
                            Risus aliquam semper tortor sed augue
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="line">
    </div>

    
    <!-- <hr class="line"> -->


    <div class="Portfoliopage">
        <div class="porttitle">My portofolio</div>
        <div class="portbody">Lorem ipsum dolor 
            sit amet consectetur.
            Risus aliquam semper tortor sed 
            augue ut sapien eget. Donec viverra 
            tempus eget fames amet quam malesuada.
        </div>
        <div class="portcontent">
            <div class="box-1">
                <img class="port-image" src="image/work-10.avif">
            </div>
            <div class="box-2">
                <img class="port-image" src="image/work-2.avif">
            </div>
            <div class="box-3">
                <img class="port-image" src="image/work-3.avif">
            </div>
        </div>
        <div class="portcontent">
            <div class="box-1">
                <img class="port-image" src="image/work-4.avif">
            </div>
            <div class="box-2">
                <img class="port-image" src="image/work-5.avif">
            </div>
            <div class="box-3">
                <img class="port-image" src="image/work-6.avif">
            </div>
        </div>
        <hr class="line">
    </div>
    

    
    <!-- <hr class="line"> -->


    <div class="Portfoliopage">
        <div class="porttitle">My Skills</div>
        <div class="portbody">Lorem ipsum dolor 
            sit amet consectetur.
            Risus aliquam semper tortor sed 
            augue ut sapien eget. Donec viverra 
            tempus eget fames amet quam malesuada.
        </div>
        <div class="portcontent">
            <div class="box-1">
                <img class="port-image" src="image/work-11.avif">
            </div>
            <div class="box-2">
                <img class="port-image" src="image/work-12.avif">
            </div>
            <div class="box-3">
                <img class="port-image" src="image/work-13.avif">
            </div>
        </div>
        <div class="portcontent">
            <div class="box-1">
                <img class="port-image" src="image/work-14.avif">
            </div>
            <div class="box-2">
                <img class="port-image" src="image/work-15.avif">
            </div>
            <div class="box-3">
                <img class="port-image" src="image/work-18.avif">
            </div>
        </div>
        <hr class="line">
    </div>

    
    <hr class="line">


    <div class="signup-page">
        <div class="signtitle">Get on board</div>
        <div class="authentication">
            <a class="link" href="/signup"><h4 class="signvar">Name</h4></a>
            <a class="link" href="/signup"><hr class="line2"></a>
            <a class="link" href="/signup"><h4 class="signvar">E-mail</h4></a>
            <a class="link" href="/signup"><hr class="line2"></a>
            <a class="link" href="/signup"><h4 class="signvar">Enter-password</h4></a>
            <a class="link" href="/signup"><hr class="line2"></a>
            <a class="link" href="/signup"><h4 class="signvar">confirm-password</h4></a>
            <a class="link" href="/signup"><hr class="line2"></a>
        </div>
        <a class="link" href="/signup"><button class="button-2">Sign up</button></a>
        <hr class="line">
    </div>


    

    
    <div class="contact">
        <div class="contact-title">Get in touch</div>
        <div class="contact-body">Lorem ipsum dolor sit amet consectetur.
            Risus aliquam semper tortor 
            sed augue ut sapien eget. 
            Donec viverra tempus eget fames amet quam malesuada.
        </div>
        <div class="contact-box1">Enter Your Name</div>
        <div class="contact-box2">Enter your email address</div>
        <div class="contact-box3">Enter Your message</div>
        <button class="button-3">send message</div>
            <hr class="line3">
    </div>



    <!-- <hr class="line"> -->


    <div class="Login-page">
        <div class="logintitle">Sign In</div>
        <div class="authentication">
            <a class="link" href="/login"><h4 class="signvar" >Name</h4></a>
            <a class="link" href="/login"><hr class="line2"></a>
            <a class="link" href="/login"><h4 class="signvar" >Enter-password</h4></a>
            <a class="link" href="/login"><hr class="line2"></a>
        </div>
        <div class="logindiv">
            <a class="link" href="/login"><div class="stay">Stay logged</div></a>
            <a class="link" href="/login"><div class="signvar">forgot password</div></a>
        </div>
        <a class="link" href="/login"><button class="button-3">Login</button></a>
    </div>


    





</body>